<html>
    <head>
      <link rel="icon" type="image/x-icon" sizes="32x32" href="/favicon.ico">
      <title>My App</title>
    </head>
    <body> 
      <center>
      <h1 style="color: #386">Informacion del autor</h1>
      <p style="color: #34495E">Alumno: Lopez Garcia Emmanuel</p>
      <p style="color: #34495E">Num. Control: 191130283</p>
      <p style="color: #34495E">Carrera: Ingenieria en TIC's</p>
      <p style="color: #34495E">Materia: Desarrollo web en pila completa</p>
      <p style="color: #34495E">Profesor: Rivalcoba Rivas Jorge Ivan</p>
      <p style="color: #34495E">Grupo: 8TA</p>
      </center>
    </body>
  </html>